

.userManagement-card{
    background: var(--text-light);
    border-radius:12px;
    box-shadow:0 1px 2px 3px #ccd4e0;
    overflow:hidden;
    width: 100%;
   
}

.userManagement-header{
    display:flex;
    align-items:center;
    gap:10px;
    background:#EEF4FF;
    padding:15px 20px;
    border-bottom:2px solid #ddd;

& h2 {
    font-size: 1.1rem;
}

}

.userManagement-icon {
    width:42px;
    height:42px;
    background: var(--bg-color-blue);
    color: var(--text-light);
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    font-size:15px;

& img {
    width: 30px;
}
}

.userManagement-list{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 1.8rem;
    border-left: 0.25rem solid var(--primary-blue); 
    box-shadow: 1px 1px 4px 2px #E5E7EB;
    background-color: #EFF6FF;
    padding: 1em;
    border-radius: 10px;
     
     & .userManagement-text{
         color: #364153;
         font-weight: 600;
         font-size: 0.95rem;
     }

     & .shift{
        color: var(--primary-blue);
        font-weight: 700;
        font-size: 1.2rem;
    }
    
}
